.accordion-menu {
  background-color: #fff;
  max-width: 960px;
  margin: 0 20px;
  width: 100%;
  padding: 20px 40px;
  position: relative;
  border-radius: 4px;
}

.accordion-menu__content {
  height: 480px;
  overflow-y: scroll;
  padding: 0 10px;
}

.accordion-menu__content::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.accordion-menu__content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000123;
}

.accordion-menu__content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
